.connexion-container {
  background: #ffffff;
  font: bold 12px Verdana;
  width: 40%;
  margin: auto;
  margin-bottom: 45px;
  border-radius: 12px 9px 12px;
  border: none;
  color: #555;
  border-left: 8px solid #f4a521;

  box-shadow: 1px 1px 3px #999;
  padding: 70px;
}

.connexion-container .background {
  background-color: #efefef;
}

.connexion-container .mdp {
  color: #555;
  text-decoration: #555;
}

.text {
  font-size: 15px;
  font-weight: lighter;
}
.text2 {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 40px;
  margin-bottom: -10px;
}
.forgetpwd {
  font-size: 10px;
  color: #999;
  margin-left: -9px;
  margin-top: -20px;
}
