.Barre-de-menu {
  display: flex;
  position: fixed;
  z-index: 10000;
  top: 0%;
  left: -1%;
  right: 0%;
  padding: 10px 20px;
  box-shadow: 8px 3px 10px rgba(77, 77, 77, 0.589);
  background-color: #f4a521;
  height: 105px;
  justify-content: space-between;
}
.Barre-de-menu .mr-auto {
  margin: 0px !important;
}

.Barre-de-menu .logo {
  height: 90px;
  display: block;
  margin-top: -10px;
  margin-left: 150px;
}

.Barre-de-menu .TiPourBoire .titre {
  padding-right: 85vh;
  font-size: -webkit-xxx-large;
  color: white;
}
