.barre-de-menu {
  padding: 10px 20px;
  box-shadow: 8px 3px 10px rgba(77, 77, 77, 0.589);
  background-color: #f4a521;
  height: 90px;
  justify-content: space-between;
}
.barre-de-menu .mr-auto {
  margin: 0px !important;
}

.barre-de-menu .logo {
  height: 90px;
  display: block;
  margin-top: -15px;
  margin-left: 100px;
}

.barre-de-menu .TiPourBoire {
  padding-right: 90vh;
  font-size: -webkit-xxx-large;
  color: white;
  margin-top: 10px;
}
.barre-de-menu .navlink1 {
  font-size: 20px;
  line-height: inherit;
  color: black;
  background-color: transparent;
  height: 50px;
  padding: 10px;
  margin: 0px;
  margin-top: 5%;
}
.titre {
  text-align: end;
}
.logo {
  align-content: center;
}
.navbar-light .navbar-brand {
  color: white;
  text-align: center;
}
